.error {
    height: 75vh;
    width: 90vw;
    margin: auto;
    color: var(--bg);
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.error_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: 70vh;
    max-width: 90vw;
    background-color: var(--text);
    border-radius: 15px;
}

.error_animation {
    width: 25vw;
}

.error_header {
    font-size: 2.5rem;
    margin: 0;
}

.error_text {
    margin-top: .3rem;
}

.error_link {
    display: flex;
    justify-content: center;
    color: var(--text);
    background-color: var(--text);
    color: var(--bg);
    font-size: 1.2rem;
    padding: .8rem 1rem;
    border: .15rem solid var(--line);
    border-radius: 15px;
}

.error_link:hover {
    background-color: var(--bg);
    color: var(--text);
    transition: 250ms ease-in-out;
}