.hexagon {
    width: 50px;
    aspect-ratio: 0.866;
    /* Approximately the ratio for a regular hexagon */
    flex-shrink: 0;
    background: linear-gradient(135deg, var(--hero-gradient-1), var(--hero-gradient-2), var(--hero-gradient-3));
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    box-shadow: 0 0 10px rgba(41, 98, 255, 0.4);
    transition: transform 0.3s, box-shadow 0.3s;
    animation: float 4s infinite ease-in-out;
}

.hexagon:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(41, 98, 255, 0.7);
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(0px);
    }
}