.navbar {
    height: var(--nav-size);
    position: sticky; 
    top: 0;
    z-index: 500; 
    transition: background-color 250ms ease-in-out;
}

.navbar.sticky {
    background-color: transparent;
}

.navbar_title {
    display: block;
    float: left;
    margin-top: auto;
    transition: ease-in-out 250ms;
}

.nav_logo {
    height: calc(var(--nav-size)*(2/3));
    margin-top: calc(var(--nav-size)*(1/6));
    margin-bottom: calc(var(--nav-size)*(1/6));
    margin-left: 6vw;
}

.nav_links {
    margin-right: 4vw;
}

.nav_link {
    font-size: 1.1rem;
    color: var(--bg);
    background-color: var(--text);
    display: block;
    float: right;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: calc(7.5vh - 1.2rem);
    padding: .6rem 1.2rem .6rem 1.2rem;
    border: 3px var(--line) solid;
    border-radius: 15px;
    transition: ease-in-out 250ms;
}

.nav_link:hover {
    filter: opacity(75%);
}

@media only screen and (max-width: 850px) {
    .nav_logo {
        height: calc(var(--nav-size)*(1/2));
        margin-top: calc(var(--nav-size)*(1/4));
        margin-bottom: calc(var(--nav-size)*(1/4));
        margin-left: 0;
        margin-right: 0;
    }

    .nav_link {
        align-items: center;
    }
}


.nav_mobile_menu_dropdown {
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.nav_mobile_menu {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

.nav_mobile_menu_spacer{
    display: flex;
    justify-content: end;
    height: 15vh;
}

.nav_mobile_menu_x_btn {
    color: var(--bg);
    background-color: var(--bg-accent);
    float: right;
    margin-right: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    padding: .2rem .4rem .2rem .4rem;
    border: 3px var(--bg-accent-two) solid;
    border-radius: 15px;
    transition: ease-in-out 250ms;
    /* backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px); */
}

.nav_mobile_menu_x_btn:hover {
    filter: opacity(75%);
    cursor: pointer;
}

.square {
    fill: var(--bg-accent);
    stroke: var(--bg);
}

.nav_mobile_menu_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    background-color: var(--bg);
    text-align: center;
}

.nav_mobile_menu_title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text);
    margin-bottom: 1.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: .5rem;
    border-bottom: 1px var(--text) solid;
}

.nav_mobile_menu_link {
    color: var(--text-2);
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
    z-index: 1000
}

.nav_mobile_menu_active_link {
    color: var(--text-3);
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
    filter: brightness(70%);
}

.nav_mobile_menu_svg {
    position: absolute;
    background: url(../assets/mobile-menu.svg) no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.skip-link {
  position: absolute;
  top: -60px;
  left: 0;
  background: var(--text);
  color: var(--bg);
  padding: 8px;
  z-index: 100;
  text-decoration: none;
}

.skip-link:focus {
  top: 0;
}